body {
  padding: 60px;
}

*{

  font-family: Arial, Helvetica, sans-serif;

}
hr{
  border-color: #F13C76;
}

input{
  color: dimgray;
  border-color: yellowgreen;
  border-radius: 6px;
  font-size: 1.2rem;
  width: 100%;
}

.card-grid{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.card{
  align-content: center;
  border: 1px solid #F13C76;
  border-radius: 6px;
  overflow: hidden;
  margin-bottom: 10px;
  margin-right: 10px;
}

.card p{
  font-family: Arial, Helvetica, sans-serif;
  font-size: medium;
  padding: 5px;
  text-align: center;
}

.card img{
  border-radius: 6px;
  max-height: 170px;
}